  <h3>Answer 1 ( {{answerProgress[0]/totalAnswers * 100 || 0 | number:'1.1-2'}} %)</h3>
  <mat-progress-bar color="primary" mode="determinate" value="{{answerProgress[0]/totalAnswers * 100 || 0}}"></mat-progress-bar> 

  <h3>Answer 2 ( {{answerProgress[1]/totalAnswers * 100 || 0 | number:'1.1-2'}} %)</h3>
  <mat-progress-bar color="primary" mode="determinate" value="{{answerProgress[1]/totalAnswers * 100 || 0}}"></mat-progress-bar>

  <h3>Answer 3 ( {{answerProgress[2]/totalAnswers * 100 || 0 | number:'1.1-2'}} %)</h3>
  <mat-progress-bar color="primary" mode="determinate" value="{{answerProgress[2]/totalAnswers * 100 || 0}}"></mat-progress-bar>

  <h3>Answer 4 ( {{answerProgress[3]/totalAnswers * 100 || 0 | number:'1.1-2'}} %)</h3>
  <mat-progress-bar color="primary" mode="determinate" value="{{answerProgress[3]/totalAnswers * 100 || 0}}"></mat-progress-bar>
